.deck{
	border: solid 1px black;
	width: 250px;
	height: 150px;
	margin: 10px;
	padding: 5px;
}

.deck:hover{
	background-color: grey;
	color: white;
}

.decks{
	float: left;
}

.cards{
	border-left: 1px solid black;
	padding-left: 30px;
}

.cards-container{

}

.top-bar a{
	color: white;
}

.button-container{
}

.right-button{
	margin-left: 135px;
}

.wrong-button{
	margin-left: 30px;
}

.foote{
	background-color: lightgrey;
}