/* line 1, emberFlashcards.scss */
html, body {
  height: 100%; }

/* line 5, emberFlashcards.scss */
body {
  overflow: scroll; }

/* line 9, emberFlashcards.scss */
button {
  border: 1px solid darkgrey;
  background-color: lightgrey;
  padding: 5px 10px; }
  /* line 14, emberFlashcards.scss */
  button:hover {
    background-color: white; }

/* line 21, emberFlashcards.scss */
.ember-application > .ember-view {
  height: 100%; }

/* line 26, emberFlashcards.scss */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -131px; }

/* line 32, emberFlashcards.scss */
#push {
  height: 131px; }

/* line 36, emberFlashcards.scss */
.footer {
  border-top: 1px solid darkgrey;
  text-align: center;
  height: 100px;
  padding-top: 30px; }

/* line 43, emberFlashcards.scss */
.card {
  width: 500px;
  height: 300px; }

/* line 48, emberFlashcards.scss */
.icon-pencil {
  display: none;
  background: url("../img/glyphicons-halflings.png") no repeat -96px -72px !important;
  float: right; }

/* line 54, emberFlashcards.scss */
.icon-search {
  background: url("../img/glyphicons-halflings.png") no repeat -96px -72px !important;
  float: right; }

/* line 61, emberFlashcards.scss */
.deck:hover .icon-pencil {
  display: block; }
