html, body {
    height: 100%;
}
  
body {
    overflow: scroll;
}

button{
	border: 1px solid darkgrey;
	background-color: lightgrey;
	padding: 5px 10px;

	&:hover {
		background-color: white;
	}
}

.ember-application{

	> .ember-view{
		height: 100%;
	}
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -131px;
}
#push {
    height: 131px;
}

.footer{
	border-top: 1px solid darkgrey;
	text-align: center;
	height: 100px;
	padding-top: 30px;
}

.card{
	width: 500px;
	height: 300px;
	border: 1px solid darkgrey;

	
}

.card-edit-link{
		float: right;
		margin-top: -150px;
	}



.icon-search{
	background: url('../img/glyphicons-halflings.png') no repeat -96px -72px !important;
	float: right;
}

.deck{
	border: solid 1px darkgrey;
	width: 250px;
	height: 175px;
	padding: 0;
	background-color: white;

	
}
.deck-edit-link{
		margin-top: -175px;
		float: right;
		display: none;
	}

.deck-container{
	max-width: 250px;
	max-height: 175px;
	padding: 10px;

	> a{
		margin: 0;
		padding: 0;
	}
}

.deck:hover{
	background-color: #EEEEEE;
	color: #999999;
}

.deck-container:hover{
	.deck-edit-link{
		display: block;
	}	
}

.top-bar a{
	color: white;
}

.button-container{
}

.right-button{
	margin-left: 135px;
}

.wrong-button{
	margin-left: 30px;
}

.temp{
	width: 100px;
  height: 25px;
  border: 1px solid black;
  background-color: lightgrey;
}