html, body {
    height: 100%;
}
  
body {
    overflow: scroll;
}

button{
	border: 1px solid darkgrey;
	background-color: lightgrey;
	padding: 5px 10px;

	&:hover {
		background-color: white;
	}
}

.ember-application{

	> .ember-view{
		height: 100%;
	}
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -131px;
}
#push {
    height: 131px;
}

.footer{
	border-top: 1px solid darkgrey;
	text-align: center;
	height: 100px;
	padding-top: 30px;
}

.card{
	width: 500px;
	height: 300px;
}

.icon-pencil{
	display: none;
	background: url('../img/glyphicons-halflings.png') no repeat -96px -72px !important;
	float: right;
}

.icon-search{
	background: url('../img/glyphicons-halflings.png') no repeat -96px -72px !important;
	float: right;
}

.deck{
	&:hover{
		.icon-pencil{
			display: block;
		}
	}
}
