
<h1>Create Account</h1>
<div class="row">
	<div class="span4">
<button {{action "createAccountFB"}}>Join with Facebook</button>
{{#linkTo "createAccountEmail"}}Old-fashioned? sign up with email.</p>{{/linkTo}}
</div>
</div>