<div class="row">
	<div class="span4 decks">
	    <h2>Decks</h2>
	    <div class="preview-container">
			{{#linkTo "decks.createDeck"}}<div class="small-preview">+ Add a new deck</div>{{/linkTo}}
		</div>
		{{#each deck in controller}}
			<div class="preview-container">
				{{#linkTo "decks.deck" deck}}
					<div class="small-preview">{{deck.title}}</div>
				{{/linkTo}}
				<div class="deck-edit-link">
					{{#linkTo "deck" deck}}<i class="icon-pencil"></i>{{/linkTo}}
				</div>
			</div>
		{{/each}}
	</div>

	<div class="span8">
		{{outlet}}
	</div>
</div>
