<div class="card-edit-container">
		<label>Question:</label>
  		<div class="card editable card-edit" contenteditable="true">
			<h1>{{question}}</h1>
  		</div>
  		<label>Answer:</label>
  		<div class="card editable card-edit" contenteditable="true">
    		<h2>{{answer}}</h2>
  		</div>
	<button {{action "updateCard" model}}>Update</button>
</div>