<h2>Create deck</h2>

<label for="title"><strong>title: </strong></label>
{{view Ember.TextField valueBinding="newTitle" id="title"}}
<label for="description"><strong>description: </strong></label>
{{view Ember.TextField valueBinding="newDescription" id="description"}}
<button {{action "createDeck"}}>Add cards to deck</button>
