<h2>Create deck</h2>

<label for="title"><strong>Deck title: </strong></label>
{{view Ember.TextField valueBinding="newDeckTitle" id="title"}}
<button {{action "createDeck"}}>Add cards to deck</button>
