<div class="row">
	<div class="col-lg-12">
		<h2>Create deck</h2>
	</div>
</div>

<form {{action "createDeck" on="submit"}}>
	<div class="row">
		<div class="form-group">
			<div class="col-lg-2">
				<label for="title" class="pull-right">title: </label>
			</div>
			<div class="col-lg-10">
				{{view Ember.TextField valueBinding="newTitle" id="title" class="pull-left"}}
			</div>
		</div>
	</div>

	<div class="row">
		<div class="form-group">
			<div class="col-lg-2">
				<label for="description" class="pull-right">description: </label>
			</div>
			<div class="col-lg-10">
				{{view Ember.TextArea valueBinding="newDescription" id="description" class="create-description pull-left"}}
			</div>
		</div>
	</div>

	<button>Create</button>
</form>
