<h2>Create deck</h2>
<form {{action "createDeck" on="submit"}}>
	<div class="form-group">
		<label for="title">title: </label>
		{{view Ember.TextField valueBinding="newTitle" id="title"}}
	</div>
	<div class="form-group">
		<label for="description">description: </label>
		{{view Ember.TextField valueBinding="newDescription" id="description"}}
	</div>
	<button>Create</button>
</form>
