<div class="row">
	<div class="col-lg-3 cards side-bar">
	    <h2>Cards</h2>
	    {{#linkTo "decks"}}Back to Decks{{/linkTo}}
	    <div class="preview-container">
			{{#linkTo "deck.addCard" model}}<div class="small-preview">+ Add a new card</div>{{/linkTo}}
		</div>
		{{#each card in cards}}
			<div class="preview-container">
				{{#linkTo "deck.card" card}}
					<div class="small-preview">{{card.question}}</div>
				{{/linkTo}}
				<div {{action "deleteCard" card}} class="delete-icon-link">
					<i class="glyphicon glyphicon-remove"></i>
				</div>
			</div>
		{{/each}}
	</div>

	<div class="col-lg-9 main-content">
		{{outlet}}
	</div>
</div>
