{{controller}}
<div class="flip-container" id="flip-toggle">
	<div class="flipper">
		<label>Question:</label>
  		<div class="front card editable card-edit" contenteditable="true" id="card-front">
			<h1>{{question}}</h1>
  		</div>
  		<label>Answer:</label>
  		<div class="back card editable card-edit" contenteditable="true">
    		<h2>{{answer}}</h2>
  		</div>
	</div>
	<button {{action "updateCard" }}>Update</button>
</div>