<h2>sign in</h2>
<form {{action "signIn" on="submit" class="sign-in"}}>
	<div class="form-group">
<label for="username">username</label>
{{view Ember.TextField valueBinding="username" id="username"}}
</div>
<div class="form-group">
<label for="password">password</label>
{{view Ember.TextField valueBinding="password" id="password"}}
</div>
<label for="rememberMe">remember me</label>
{{view Ember.Checkbox }}

<button>sign in</button>

</form>
