<h1>This is ember flashcards</h1>
<p>This is my first attempt at creating a single page application using Ember.js</p>

<p>I am new to both single page applications and Ember.js so I hope to be able to learn much from this.</p>