<div class="zurd-footer-bottom">
	<div class="row">
		<div class="twelve columns">
			<h1>This is ember flashcards</h1>
			<p>Ember-Flashcards is my first attempt at creating a single page application using Ember.js</p>

			<p>I am new to both single page applications and Ember.js so I hope to be able to learn a lot from this.</p>
		</div>
	</div>
</div>