<nav class="top-bar">
	<ul class="title-area">
		<li class="name">
			<a href="/"><h1 style="color: white;">Ember-Flashcards</h1></a>
		</li>
	</ul>
	<ul class="right">
		<li class="divider"></li>
		<li class>
			{{#linkTo "about"}}about{{/linkTo}}
		</li>
	</ul>
</nav>
<div class="container">
	{{outlet}}	
</div>

<footer class="footer">
    &copy; Brent Lee, {{currentYear}}
</footer>