<script type="text/x-handlebars" data-template-name="application">
	<nav class="top-bar">
		<ul class="title-area">
			<li class="name">
				<a href="/"><h1 style="color: white;">Ember-Flashcards</h1></a>
			</li>
		</ul>
	</nav>
    {{outlet}}
</script>