<div id="wrap">
	<div class="container">
		<nav class="navbar">
			<div class="navbar-inner">
				<a class="brand" href="#">Ember-Flashcards</a>
				<ul class="nav">
					<li class="divider-vertical"></li>
					<li><a href="#">sign in</a></li>
					<li><a href="#>create account</a></li>
					<li>
						{{#linkTo "about"}}about{{/linkTo}}
					</li>
				</ul>
			</div>
		</nav>
	</div>
	<div class="container">
		{{outlet}}	
	</div>
	<div id="push"></div>
</div>
<footer class="footer">
    &copy; Brent Lee, {{currentYear}}
</footer>