
		{{controller}}
		<div class="flip-container" id="flip-toggle">
			<div class="flipper">
		  		<div class="front">
		    			<h1>{{currentCard.question}}</h1>
		          <a href="#"><i class="icon-pencil"></i></a>
		  		</div>
		  		<div class="back">
		    			<h2>{{currentCard.answer}}</h2>
		          <a href="#"><i class="icon-pencil"></i></a>
		  		</div>
			</div>
		</div>