<div class="row">
	<div class="span4">
	    <h2>Decks </h2>
		<div {{action "createDeck"}} class="deck">
			<p>+ Add a new deck</p>
		</div>
		{{#each deck in controller}}
			{{#linkTo "deck" deck}}<div class="deck">{{deck.title}}</div>{{/linkTo}}
		{{/each}}
	</div>
	<div class="span8 cards">
		{{outlet}}
	</div>
</div>
