<label for="title"><strong>Title: </strong></label>
{{view Ember.TextField valueBinding="newDeckTitle" id="title"}}

<label for="question"><strong>Question: </strong></label>
{{view Ember.TextField valueBinding="newQuestion" id="question" class="card"}}

<label for="answer"><strong>Answer: </strong></label>
{{view Ember.TextField valueBinding="newAnswer" id="answer" class="card"}}

