<div class="row">
	<div class="span4 cards">
	    <h2>Cards</h2>
	    {{#linkTo "decks"}}Back to Decks{{/linkTo}}
	    <div class="card-container">
	    	{{model}}
		{{#linkTo "deck.addCard" model}}<div class="deck">+ Add a new card</div>{{/linkTo}}
	</div>
		{{#each card in cards}}
			<div class="card-container">
			{{#linkTo "deck.card" card}}
				<div class="card-preview">
					{{card.question}}
				</div>
			{{/linkTo}}
			<div class="card-edit-link">
		</div>
			</div>
			
		{{/each}}
	</div>

	<div class="span8">
		{{outlet}}
	</div>
</div>
