
		{{controller}}
		<div class="flip-container" id="flip-toggle">
			<div class="flipper">
		  		<div class="front card">
		    			<h1>{{question}}</h1>
		          <a href="#"><i class="icon-pencil"></i></a>
		  		</div>
		  		<div class="back card">
		    			<h2>{{answer}}</h2>
		          <a href="#"><i class="icon-pencil"></i></a>
		  		</div>
			</div>
		</div>