<div class="row">
	<div class="span4 decks">
	    <h2>Decks </h2>
		{{#linkTo "decks.createDeck"}}<div class="deck">+ Add a new deck</div>{{/linkTo}}
		
		{{#each deck in controller}}
			{{#linkTo "deck" deck}}
				<div class="deck">{{deck.title}}
					<i class="icon-pencil"></i>
				</div>
			{{/linkTo}}
			
		{{/each}}
	</div>

	<div class="span8">
		{{outlet}}
	</div>
</div>
